h1 {
  border: solid 3px;
  padding: 5px;
  text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 30px;
}

.caption {
  margin: 0 auto;
  height: 150px;
  margin-bottom: 30px;
  border-bottom: solid 1px;
}
